html{

font-family: 'Open Sans', sans-serif;

}



.button {
    float: left;
    border: 1px solid;
    padding: 5px 21px;
    vertical-align: middle;
    background: #e28a42;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    font-family: Didot, serif;
    text-decoration: none;
  }
  
  .bg {
    background-image: url("images/loja2.jpg");
    background-position: center;
    background-attachment:fixed;
  }

  #box{
    /*definimos a largura do box*/
    width:300px;
    /* definimos a altura do box */
    height:100px;
    /* definimos a cor de fundo do box */
    background-color:#6495ed;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px 20px;
    }



    body {
      margin: 0;
    }
    
    h1, h2, h3, h4, h5, p, span {
      margin: 0;
      color: #007FFF;
    }
    
    .container {
      max-width: 1920px;
      width: 100%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    
  
    .nav-container .btn-menumobile {
      display: none;
    }
    
    
    header {
      position: relative;
      top: 0;
      height: auto;
      width: 100%;
    }
    
    
    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100px;
      width: 100%;
      z-index: 1;
      background-color: #FFF;
      border-bottom: 1px solid #CCC;
    }
    
    nav:after {
      clear: both;
      content: "";
      display: block;
    }
    
    .nav-container {
      max-width: 1200px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    
    #logo {
      width: 50px;
      height: 50px;
      margin-top: 25px;
    }
    
    .nav-container ul {
      float: right;
      height: 100px;
      line-height: 100px;
      margin: 0;
    }
    
    .nav-container ul li {
      list-style: none;
      float: left;
      margin: 0 15px;
    }
    
    .nav-container li a {
      text-decoration: none;
      color: black;
      transition: .5s;
    }
    
    .nav-container li a:hover {
      color: #3381f3;
    }

    









    