.button {
    float: left;
    border: 1px solid;
    padding: 5px 21px;
    vertical-align: middle;
    background: #e28a42;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    font-family: Didot, serif;
    text-decoration: none;
  }
  
  .bg {
    background-image: url("images/loja2.jpg");
    background-position: center;
    background-attachment:  ;
  }

  #box{
    /*definimos a largura do box*/
    width:300px;
    /* definimos a altura do box */
    height:100px;
    /* definimos a cor de fundo do box */
    background-color:#6495ed;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px 20px;
    }