html{
  font-family: 'Open Sans', sans-serif;
  }
  
.bg {
  background-image: url("images/marble.jpg");
  background-position: center;
  background-attachment:fixed;
}


  
nav { /** aqui mexe na faixa branca**/
  position: fixed;
  top: 1;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
}

nav:after {
  clear: both;
  content: "";
  display: block;
}

.nav-container {
  max-width: 1200px;
  position: relative;
  margin-left: -450;

}

#logo {
  
  width: 150px;
  height: 100px;
  margin-top: -15px;
  margin-left: -350;
}

.nav-container ul {
  float: right;
  height: 100px;
  line-height: 100px;
  margin: 0;
}

.nav-container ul li {
  list-style: none;
  float: left;
  margin: -15 15px;
}

.nav-container li a {
  text-decoration: none;
  color: black;
  transition: .5s;
}

.nav-container li a:hover {
  color: #3381f3;
}

  input{ /** Aqui customiza o local de prenchimento**/
    display: block;
    height: 30px;
    width: 300px;
    margin: 10px;
    border-radius: 30px;
    color:black; 
    outline: none;
}


.field{
  width: 100%;
  margin: 150px 0;
  }
  .field label, 
  .field span{
  padding-left: 0px;
  font-size: 1.1em;
  display: block;
  width: 100%;
  }