html{
  font-family: 'Open Sans', sans-serif;
  }
  
.bg {
  background-image: url("../images/marble.jpg");
  background-position: center;
  background-attachment:fixed;
}

.button {
  outline: none;
  border: none;
  background-color: #e7c188;
  color: #222;
  padding: 5px 35px;
  border-radius: 5px;
  border-bottom: 3px solid #B8860B;
  cursor: pointer;
}

input{
  max-height: 50px;

}
.button:hover {

  border-bottom: 0;
  background-color: #F0CB90;
  transition: 0.2s;
}

input[type=email] {
  /** Aqui customiza o local de prenchimento**/
  border: 1px solid #F0CB90;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  color: #222;
  outline: none;
}
 
.container {
  max-width: 1920px;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


.nav-container .btn-menumobile {
  display: none;
}


header {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}


nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: white;
  
}


.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.nav-container ul {
  height: 100px;
  line-height: 70px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.nav-container ul li {
  list-style: none;
  margin: 0 15px;
  
  
}

.nav-container li a {/**Aqui meche com as letras da navbar**/
  text-decoration: none;
  color: #222;
  transition: .5s;
  
}

.nav-container li a:hover {
  color: #F0CB90;
}


.positon-item{
  position: absolute; 
  left: 250px; /* posiciona a 90px para a esquerda */ 
  top: 150px; /* posiciona a 70px para baixo */

  }


input{ /** Aqui customiza o local de prenchimento**/
  display: block;
  height: 30px;
  width: 300px;
  font-size: 20px;
  padding: 1px 10px;
  outline: none;
  border: 1px solid #F0CB90;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  color: #222;
  outline: none;
  
  
}


.field{
width: 100%;
margin: 200px 0;
}
.field label, 
.field span{
padding-left: 0px;
font-size: 1.1em;
display: block;
width: 100%;
}

