.meu-primeiro-container {
    margin: 30px 0;
    .position-item {
        .moleton-all {
            .moleton {
                padding: 20px 10px;
                .moleton-img {
                    max-width: 200px;
                }
            }
        }
    }
  }